* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/* common */
a {
    text-decoration: none;
}

.content {
    width: 1535px;

    max-width: calc(100% - 130px);
    margin: 0 auto;
    /* background-color: red; */
}

/* header */

.header{
    display: flex;
}

.navbar{
    margin-left: 50px;
    width: 100%;
}

.header-content{
    display: flex;
    align-items: center;
    padding: 10px 0 15px;
}

.main-logo{
    margin: 72px;
    height: 72px;
    margin: 0;
}

.header-hang1{
    display: flex;
    align-items: center;
}

.seach{
    display: flex;
    align-items: center;
    width: 910px;
    height: 40px;
    border: 1px solid #d5d3d3;
    border-radius: 10px;
}

.header-seach{
    margin-left: 20px;
    width: 20px;
    height: 20px;
}

.header-text{
    padding-left: 10px;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 400;
    border: 0;
}

.header-text:focus{
    outline: none;
}

.header-button{
    font-size: 1.7rem;
    color: blue;
    background: white;
    border: 0;
    border-left: 1px solid #848484;
    margin-left: auto;
    padding: 2px 20px;
}

.header-right{
    display: flex;
    margin-left: auto;
}

.home{
    display: flex;
    align-items: center;
    padding: 8px 16px;
}

.header-home{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.face{
    display: flex;
    align-items: center;
    padding: 8px 24px;
}

.header-face{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.cart{
    display: flex;
}

.shopping{
    width: 24px;
    height: 24px;
}
.header__hang2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: #848484;
}

.header__hang2--left{
    display: flex;
    gap: 15px;
}

.header__hang2--right{
    display: flex;
}

.header__desc{
    color: #848484;
}

.header__desc-2{
    color: black;
    font-weight: 500;
    text-decoration: underline;
    padding-left: 5px;
}

.header__dot{
    width: 20px;
    height: 20px;
}

/* --------------------MAIN---------------------- */
.body{
    padding-top: 20px;
    background: #f5f5fa;
}

.content__body{
    display: flex;
}

/* -------------side-bar--------------- */
.side-bar{
    max-height: 100vh;
    position: sticky;
    overflow-y: hidden;
    top: 0;
    overflow-y: scroll;
    width: 230px;
    height: 2000px;
    background-color: white;
    border-radius: 10px;
}

.side-bar::-webkit-scrollbar{
    background-color: transparent;
}

/* --------------main-body--------------- */

.container{
    width: calc(100% - 230px);
    margin-left: 24px;
    border-radius: 10px;
    background: #f5f5fa;
}

/* ----------product---------- */

.main__intro{
    height: 300px;
    background: white;
    border-radius: 10px;
}

.giatothomnay{
    height: 300px;
    margin-top: 20px;
    background: white;
    border-radius: 10px;
}

.sanphambanchay{
    height: 300px;
    margin-top: 20px;
    background: white;
    border-radius: 10px;
}

/* ----------footer---------- */
.footer{
    height: 200px;
    margin-top: 40px;
    background: white;
}